header {
    background-color: #fff;
    border-bottom: 3px solid #ccc;
    margin-top: -10px;
    height: 70px;
    line-height: 80px;
}

#container {
    margin: 0 auto;
    width: 960px;
}


h1 {
    text-align: center;
    background-color: #4aaaa5;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color: white;
}

nav {
    float: right;
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    word-spacing: 20px;
}

a:link {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
}

a:visited {
    color: #4aaaa5;
}

body {
    background-image: url("../images/wavy-dots.png");
    margin: 0;
    padding: 0;
}

article {
    margin: 0 auto;
    height: 600px;
    width: 960px;
    background-color: #fff;
    margin-top: 40px;
    padding-right: 10px;
}

.pageTitle {
    background-color: #fff;
    color: #4aaaa5;
    margin-top: 25px;
    height: 50px;
    width: 875px;
    margin-left: 25px;
    text-align: left;
    border-bottom: 3px solid #ccc;
}

.myPic {
    display: inline-block;
    margin-right: 25px; 
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 35px;
}

p {
 color: #777;
 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 line-height: 26px;
 padding-left: 20px;
}

form {
    color: #777;
    margin-left: 45px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 870px;
    height: 22px;
    margin: 10px 0px;
    padding-left: 10px;
}

#message {
    height: 200px;
}

#button {
    height: 40px;
    width: 90px;
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
}

img {
    width: 300px;
    height: 200px;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666;
    text-align: center;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer {
    color: #fff;
}